AddDefaultCharset UTF-8

# Remove forced text/html for PHP files to allow APIs to set application/json
<FilesMatch "\.html$">
    Header set Content-Type "text/html; charset=UTF-8"
</FilesMatch>

<FilesMatch "\.js$">
    Header set Content-Type "application/javascript; charset=UTF-8"
</FilesMatch>

<FilesMatch "\.css$">
    Header set Content-Type "text/css; charset=UTF-8"
</FilesMatch>

<FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
    Header set Content-Type "image/jpeg"
</FilesMatch>
